
#box{
    margin: auto;
    /* border: 1px solid green; */
    height: 700px;
    width: 400px;
}
#box>p{
    font-size: 30px;
}
.laber{
    font-size: 40px;
}
.input{
    width: 350px;
    height: 40px;
    font-size: 15px;
}
.button{
    width: 350px;
    height: 40px;
    border: none;
    background-color:#4a90e2;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.button:hover{
    background-color:#427bd7 ;
}
h4{
    color: #3373d9;
    text-align: center;
}